.page-header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
  position: absolute;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.page-header--contains {
  width: 280px;
  margin: 0 auto;
}
.logo {
  float: left;
  width: 74px;
}
.logo .logo__glasses {
  display: none;
}
.main-nav {
  position: absolute;
  left: 0px;
  bottom: -264px;
  list-style: none;
  width: 100%;
  display: none;
}
.main-nav .main-nav__list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.main-nav .main-nav__list .main-nav__list-item {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  display: block;
  background-color: #283645;
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: 1px solid #010101;
  border-top: 1px solid #485461;
}
.main-nav .main-nav__pink {
  margin-right: 183px;
}
.main-nav .main-nav__burger--close {
  cursor: pointer;
}
.presentation {
  background: url(../img/presentation__iphone.png) no-repeat left bottom, url("../img/bg-presentation.png") no-repeat;
  top: -83px;
  z-index: -1;
  padding-top: 67px;
}
.presentation .presentation__title {
  margin-top: 32px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 313px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
}
.main--contains {
  width: 320px;
  margin: 0 auto;
}
.downloads-apps {
  background-color: #1d2631;
  font-size: 0px;
  padding: 0px 20px;
  padding-top: 28px;
  font-family: "Open Sans", sans-serif;
}
.downloads-apps .downloads-apps__button {
  display: block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  border: 3px solid #fff;
  padding: 11px 35px;
  padding-bottom: 13px;
  border-radius: 30px;
}
.downloads-apps .downloads-apps__button:hover {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #d22856;
  font-weight: 700;
  line-height: 24px;
  background-color: #fff;
}
.downloads-apps .downloads-apps__button:active {
  color: rgba(210, 40, 86, 0.3);
}
.downloads-apps .downloads-apps__downloads-icons--inner {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 22px;
}
.downloads-apps .downloads-apps__apple-icon {
  padding-right: 36px;
}
.downloads-apps .downloads-apps__android-icon {
  padding-right: 36px;
}
.downloads-apps .downloads-apps__description {
  font-size: 14px;
  text-align: center;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  padding-bottom: 30px;
  margin: 0px;
}
body {
  width: 320px;
  margin: 0 auto;
}
.info {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #283645;
  font-weight: 300;
  padding-top: 12px;
  position: relative;
}
.info .info__question {
  text-align: center;
}
.info .info__offer {
  text-align: center;
  padding-bottom: 6px;
}
.info::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 320px solid #fff;
  border-bottom: 32px solid transparent;
  left: 0px;
}
.chances {
  background-color: #f2f2f2;
  text-align: center;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 51px;
}
.chances .chances__chance-item:last-child {
  display: none;
}
.chances .chances__chance-item:nth-child(3) {
  display: flex;
  flex-direction: column-reverse;
}
.chances .chances__chance-item:nth-child(3) .chances__img-item {
  display: block;
  order: 1;
  align-self: center;
}
.chances .chances__chance-item:nth-child(3) .chances__title {
  order: 3;
  margin-top: 18px;
}
.chances .chances__chance-item:nth-child(3) .chances__description {
  order: 2;
  margin-top: 0px;
  margin-bottom: 39px;
}
.chances .chances__img-item {
  display: none;
}
.chances .chances__title {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
  margin-top: 30px;
}
.chances .chances__description {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #283645;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.reviews {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  padding-top: 45px;
}
.reviews .rewiews__review-item:nth-child(2) {
  display: none;
}
.reviews .rewiews__review-item:nth-child(3) {
  display: none;
}
.reviews .reviews__name {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 16px;
}
.reviews .reviews__details {
  display: none;
}
.reviews .reviews__text {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #283645;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}
.reviews::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 320px solid #fff;
  border-bottom: 32px solid transparent;
  left: 0px;
}
.control {
  font-size: 0px;
  padding-bottom: 42px;
}
.control .control__toggle {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  margin-right: 18px;
  cursor: pointer;
}
.control .control__toggle:hover {
  background-color: #7e868f;
}
.control .control__toggle:active {
  background-color: #e9ebec;
}
.control .control__toggle--active {
  border: 3px solid #283645;
  background-color: #fff;
}
.control .control__toggle--active:hover {
  background-color: #fff;
}
.control .control__toggle--active:active {
  background-color: #fff;
}
.cost {
  background-color: #f2f2f2;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  overflow: hidden;
}
.cost .control {
  padding-bottom: 47px;
}
.cost .cost__table {
  border-collapse: collapse;
  width: 840px;
  position: relative;
  right: 280px;
  margin-bottom: 40px;
}
.cost .cost__table th,
.cost .cost__table td {
  border: 2px solid #e5e5e5;
  width: 276px;
}
.cost .cost__table th:first-child,
.cost .cost__table td:first-child {
  display: none;
}
.cost .cost__table th {
  background-color: #283645;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 17px;
}
.cost .cost__table th span {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 30px;
}
.cost .cost__table td {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #283645;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  padding: 14px 22px;
  text-align: left;
}
.cost .cost__table th:nth-child(3)::before {
  content: "Хит";
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
  transform: rotate(-45deg);
  position: absolute;
  border-bottom: 28px solid #d22856;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  height: 0;
  width: 50px;
  left: -28px;
  top: 13px;
}
.cost .cost__table th:nth-child(3) {
  position: relative;
}
.main-footer {
  display: none;
}
.contacts {
  text-align: center;
}
.contacts .contacts__description {
  position: relative;
}
.contacts .contacts__description::after {
  content: "";
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-top: 35px solid #fff;
  position: absolute;
  left: 0px;
  z-index: 1;
}
.contacts .contacts__text {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #283645;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 35px;
}
.contacts .contacts__phone-text {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #283645;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 2px;
}
.contacts .contacts__phone-number {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #d22856;
  font-weight: 300;
  margin-bottom: 22px;
  margin-top: 2px;
}
.contacts .contacts__phone-number a {
  color: #d22856;
}
.contacts .contacts__arrive-text {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #283645;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 2px;
}
.contacts .contacts__arrive-address {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #d22856;
  font-weight: 300;
  margin-bottom: 22px;
  margin-top: 2px;
}
.contacts .contacts__mail-text {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #283645;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 2px;
}
.contacts .contacts__mail-email {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #d22856;
  font-weight: 300;
  margin-bottom: 22px;
  margin-top: 2px;
}
.contacts .contacts__mail-email a {
  color: #d22856;
  text-decoration: none;
}
.contacts .contacts__mail-email a:hover {
  text-decoration: underline;
  color: #283645;
}
.contacts .contacts__mail-email a:active {
  opacity: .3;
}
.contacts .contacts__map {
  height: 200px;
}
#map {
  height: 100%;
}
.burger {
  background: url("../img/main-nav__burger.png");
  display: block;
  width: 50px;
  height: 24px;
  cursor: pointer;
  float: right;
}
