.control {

  & .control__toggle--left {

  }
  & .control__toggle--right {

  }
  & .control__toggle--active {

  }
  & .control__toggle {
    display: inline-block;
    border: 3px solid @color-black;
    width: 6px;
    height: 5px;
    background-color: @gray-190;
  }
}