.control {
  font-size: 0px;
  padding-bottom: 42px;
  & .control__toggle--left {

  }
  & .control__toggle--right {

  }
  & .control__toggle {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background-color: @grey-190;
    border-radius: 50%;
    margin-right: 18px;
    cursor: pointer;
    &:hover {
      background-color: @grey-126;
    }
    &:active {
      background-color: @grey-233;
    };
  }
  & .control__toggle--active {
    border: 3px solid @dark-blue;
    background-color: @color-white;
    &:hover {
      background-color: @color-white;
    }
    &:active {
      background-color: @color-white;
    }
  }
}

@media (min-width: 700px) {
  .control {
    padding-bottom: 19px;
  }
}
