.contacts {
  text-align: @cn;
  & .contacts__description {
    position: relative;
    &::after {
    content: "";
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 35px solid @color-white;
    position: absolute;
    left: 0px;
    z-index: 1;
    }
  }
  & .contacts__text {
    .light-font(@dark-blue);
    margin-top: 40px;
    margin-bottom: 35px;
  }
  & .contacts__phone {

  }
  & .contacts__phone-text {
    .bold-font(@dark-blue, 18px);
    margin-bottom: 2px;  
  }
  & .contacts__phone-number{
    .light-font(@red-210);
    margin-bottom: 22px;
    margin-top: 2px;
    & a {
      color: @red-210;
    }
  }
  & .contacts__arrive {

  }
  & .contacts__arrive-text {
    .bold-font(@dark-blue, 18px);
    margin-bottom: 2px;
  }
  & .contacts__arrive-address {
    .light-font(@red-210);
    margin-bottom: 22px;
    margin-top: 2px;
  }
  & .contacts__mail {

  }
  & .contacts__mail-text {
    .bold-font(@dark-blue, 18px);
    margin-bottom: 2px;
  }
  & .contacts__mail-email {
    .light-font(@red-210);
    margin-bottom: 22px;
    margin-top: 2px;
    & a {
      color: @red-210;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: @dark-blue;
      }
      &:active {
        opacity: .3;
      }
    }
  }
  & .contacts__map {
    height: 200px;
  }
}

@media (min-width: 700px) {
  .contacts {
    & .contacts__description {
      &::after {
        border-left: 350px solid transparent;
        border-right: 350px solid transparent;
        border-top: 70px solid #fff;
      }
    }
    & .contacts__text {
      width: 370px;
      text-align: @cn;
      font-size: 40px;
      line-height: 47px;
      padding-left: 165px;
      padding-right: 165px;
      padding-top: 5px;
    }
    & .contacts__phone {
      order: 1;
      width: 187px;
      padding-left: 77px;
      padding-right: 76px;
    }
    & .contacts__phone-text {
      margin-top: 12px;
    }
    & .contacts__phone-number {

    }
    & .contacts__arrive {
      order: 3;
      width: 270px;
      padding-left: 215px;
      padding-right: 215px;
    }
    & .contacts__arrive-text {
      margin-top: 24px;
    }
    & .contacts__arrive-address {
      margin-bottom: 24px;
    }
    & .contacts__mail {
      order: 2;
      width: 207px;
      padding-right: 77px;
      padding-left: 76px;
    }
    & .contacts__mail-text {
      margin-top: 12px;
    }
    & .contacts__mail-email {

    }
    & .contacts__map {
      height: 344px;
    }
    & .contacts__inner {
      display: flex;
      flex-wrap: wrap;
    }
  }  
}