.info {
  .light-font(@dark-blue);
  padding-top: 12px;
  position: relative;
  & .info__question {
    text-align: @cn;
  }
  & .info__offer {
    text-align: @cn;
    padding-bottom: 6px;
  }
  &::after {
    .triangle;
  };
}
@media (min-width: 700px) {
  .info {
    font-size: 40px;
    padding-top: 5px;
    & .info__question {
      margin-bottom: 0px;
      line-height: 48px;
    }
    & .info__offer {
      margin-top: 0px;
      line-height: 48px;
      width: 330px;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 4px;
    }
    &::after {
      border-left: 700px solid @color-white;
    }
  }
}