.main-nav {
  position: absolute;
  left: 0px;
  bottom: -264px;
  list-style: none;
  width: 100%;
  display: none;
  & .main-nav__list {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: @cn;
    & .main-nav__list-item {
    .bold-font(@color-white, 18px);
    text-decoration: none;
    display: block;
    background-color: @dark-blue;
    padding-top: 23px;
    padding-bottom: 23px;
    border-bottom: 1px solid @dark-border;
    border-top: 1px solid @light-border;
    }
  }   
  & .main-nav__pink {
    margin-right: 183px;
  }
  & .main-nav__burger--close{
    cursor: pointer;
  }
}