.presentation {
  background: url(../img/presentation__iphone.png) no-repeat left bottom,
              url("../img/bg-presentation.png") no-repeat;
  top: -83px;
  z-index: -1;
  padding-top: 67px;
	& .presentation__title {
    margin-top: 32px;
    font-family: @base-font-family;
    font-weight: @light;
    font-size: ceil(@base-font-size * 1.7);
    color:  @color-white;
    text-align: @cn;
    margin-bottom: 0px;
    padding-bottom: 313px;
  }
}